extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      .small-bg-faq.mb-px-lg-100.mb-px-md-80.mb-px-60
        .container
          +hero-bg(
            'card-post-style',
            'col-lg-12',
            false,
            {
              tag:"Ask us",
              title:"Lists",
              content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum urna augue. Duis sit maximus commodo hendrerit lorem maximus mi.",
              image:"assets/images/faq/fa1.jpg",
              alt:"faq hero image"
            })

      .container
        .row.large-gutters
          .col-lg-3.mb-7
            //- Elements nav
            include includes/elements-nav
          .col-lg-9.mb-7
            .row
              .col-md-6.mb-4
                ul.smiple-list
                  li Lorem ipsum dolor sit amet
                  li
                    | Quis nostrud exerci tation
                  li
                    | Ut wisi enim ad minim veniam
                  li
                    | Aliquam erat volutpat
                  li
                    | Tincidunt ut laoreet dolore
                  li
                    | Sed diam nonummy nibh
                  li
                    | Consectetuer adipiscing elit
              .col-md-6.mb-4
                ul.list-unstyled
                  li
                    i.far.fa-arrow-alt-circle-right.mr-2
                    |  Lorem ipsum dolor sit amet
                  li
                    i.far.fa-arrow-alt-circle-right.mr-2
                    |  Quis nostrud exerci tation
                  li
                    i.far.fa-arrow-alt-circle-right.mr-2
                    |  Ut wisi enim ad minim veniam
                  li
                    i.far.fa-arrow-alt-circle-right.mr-2
                    |  Aliquam erat volutpat
                  li
                    i.fas.fa-check.mr-2.mr-2
                    |  Tincidunt ut laoreet dolore
                  li
                    i.fas.fa-check.mr-2.mr-2
                    |  Sed diam nonummy nibh
                  li
                    i.fas.fa-check.mr-2.mr-2
                    |  Consectetuer adipiscing elit 

            .row.pl-3
              .col-lg-6  
                ul.list-unstyled
                  li.mb-px-12
                    i.fas.fa-check.text-parsley.me-px-9
                    |  Donec feugiat ipsum sed enim ullamcorper
                  li.mb-px-12 
                    i.fas.fa-check.text-parsley.me-px-9
                    |  Nullam fermentum vel odio ac congue
                  li.mb-px-12
                    i.fas.fa-check.text-parsley.me-px-9
                    |  Praesent tincidunt ante auctor tellus dictum
                  li.mb-px-37
                    i.fas.fa-check.text-parsley.me-px-9
                    |  Suspendisse posuere vel massa quis sodales


      include includes/icons-nevigation
