extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      .small-bg-faq.mb-px-lg-100.mb-px-md-80.mb-px-60
        .container
          +hero-bg(
            'card-post-style',
            'col-lg-12',
            false,
            {
              tag:"Ask us",
              title:"Google Maps",
              content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum urna augue. Duis sit maximus commodo hendrerit lorem maximus mi.",
              image:"assets/images/faq/fa1.jpg",
              alt:"faq hero image"
            })

      .container
        .row.large-gutters
          .col-lg-3.mb-7
            //- Elements nav
            include includes/elements-nav
          .col-lg-9.mb-7
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d130872.72346826938!2d-122.33587070829888!3d37.771985537560894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2s!4v1542447792218' width='800' height='551' frameborder='0' style='border:0' allowfullscreen='')

      include includes/icons-nevigation
