extends includes/layout
include includes/mixin

block content
  article.entry
  .entry-content
    //- Page title
    .small-bg-faq.mb-px-lg-100.mb-px-md-80.mb-px-60
        .container
          +hero-bg(
            'card-post-style',
            'col-lg-12',
            false,
            {
              tag:"Ask us",
              title:"Galleries",
              content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum urna augue. Duis sit maximus commodo hendrerit lorem maximus mi.",
              image:"assets/images/faq/fa1.jpg",
              alt:"faq hero image"
            })

    .container
      .row.large-gutters
        .col-lg-3.mb-7
          //- Elements nav
          include includes/elements-nav
        .col-lg-9.mb-7
          h3.text-center.mt-6.mb-5 Simple Gallery
          .row.small-gallery-gutters.popup-gallery
            .col-4
              img(src='assets/images/portfolio/pf7.jpg' alt='pf7').height-px-320.w-100.object-fit-cover
            .col-4
              img(src='assets/images/portfolio/pf2.jpg' alt='pf2').height-px-320.w-100.object-fit-cover
            .col-4
              img(src='assets/images/portfolio/pf3.jpg' alt='pf3').height-px-320.w-100.object-fit-cover
            .col-4
              img(src='assets/images/portfolio/pf4.jpg' alt='pf4').height-px-320.w-100.object-fit-cover
            .col-4
              img(src='assets/images/portfolio/pf5.jpg' alt='pf5').height-px-320.w-100.object-fit-cover
            .col-4
              img(src='assets/images/portfolio/pf6.jpg' alt='pf6').height-px-320.w-100.object-fit-cover
          h3.text-center.mt-6.mb-5 Hover Effect
          .row.small-gallery-gutters.popup-gallery.hover-opacity-effect
            .col-4
              img(src='assets/images/blog/b1.jpg' alt='b1')
            .col-4
              img(src='assets/images/blog/b2.jpg' alt='b2')
            .col-4
              img(src='assets/images/blog/b3.jpg' alt='b3')
            .col-4
              img(src='assets/images/blog/b4.jpg' alt='b4')
            .col-4
              img(src='assets/images/blog/b5.jpg' alt='b5')
            .col-4
              img(src='assets/images/blog/b6.jpg' alt='b6')

      include includes/icons-nevigation


