extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      .small-bg-faq.mb-px-lg-100.mb-px-md-80.mb-px-60.mb-px-lg-100.mb-px-md-80.mb-px-60
        .container
          +hero-bg(
            'card-post-style',
            'col-lg-12',
            false,
            {
              tag:"Ask us",
              title:"Typography",
              content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum urna augue. Duis sit maximus commodo hendrerit lorem maximus mi.",
              image:"assets/images/faq/fa1.jpg",
              alt:"faq hero image"
            })

      .container
        .row.large-gutters
          .col-lg-3.mb-7
            //- Elements nav
            include includes/elements-nav
          .col-lg-9.mb-7.entry
            .entry-content
              .boxed.boxed--lg.boxed--border
                h5 Lead Paragraph
                p.lead
                  | Donec porta maximus eros vitae dapibus. Nulla a purus tristique dolor
                  | suscipit tincidunt. Morbi
                  | lorem purus, consequat ac tristique nec, dictum et odio. Nam liber tristique.
              .boxed.boxed--lg.boxed--border
                h5 Standard Paragraph
                p
                  | Donec porta maximus eros vitae dapibus. Nulla a purus tristique dolor suscipit
                  | tincidunt. Morbi
                  | lorem purus, consequat ac tristique nec, dictum et odio. Nam liber tristique.
              p
                strong Headings
              h1 Header one
              h2 Header two
              h3 Header three
              h4 Header four
              h5 Header five
              h6 Header six
              h2 Blockquotes
              p Single line blockquote:
              blockquote
                p Stay hungry. Stay foolish.
              p Multi line blockquote with a cite reference:
              blockquote(cite='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote')
                p
                  | The 
                  strong
                    | HTML 
                    code &lt;blockquote&gt;
                    |  Element
                  |  (or 
                  em HTML Block Quotation Element
                  | ) indicates that the enclosed text is an extended quotation. Usually, this is rendered visually by indentation (see 
                  a(href='https://developer.mozilla.org/en-US/docs/HTML/Element/blockquote#Notes') Notes
                  |  for how to change it). A URL for the source of the quotation may be given using the 
                  strong cite
                  |  attribute, while a text representation of the source can be given using the 
                  a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite' title='The HTML Citation Element <cite> represents a reference to a creative work. It must include the title of a work or a URL reference, which may be in an abbreviated form according to the conventions used for the addition of citation metadata.')
                    code &lt;cite&gt;
                  |  element.
              p
                cite multiple contributors
                |  &ndash; MDN HTML element reference &ndash; blockquote
              h2 Tables
              table
                thead
                  tr
                    th Employee
                    th Salary
                    th
                tbody
                  tr
                    th
                      a(href='http://example.org/') John Doe
                    td $1
                    td Because that&rsquo;s all Steve Jobs needed for a salary.
                  tr
                    th
                      a(href='http://example.org/') Jane Doe
                    td $100K
                    td For all the blogging she does.
                  tr
                    th
                      a(href='http://example.org/') Fred Bloggs
                    td $100M
                    td Pictures are worth a thousand words, right? So Jane x 1,000.
                  tr
                    th
                      a(href='http://example.org/') Jane Bloggs
                    td $100B
                    td With hair like that?! Enough said&mldr;
              h2 Definition Lists
              dl
                dt Definition List Title
                dd Definition list division.
                dt Startup
                dd
                  | A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.
                dt #dowork
                dd
                  | Coined by Rob Dyrdek and his personal body guard Christopher &ldquo;Big Black&rdquo; Boykins, &ldquo;Do Work&rdquo; works as a self motivator, to motivating your friends.
                dt Do It Live
                dd
                  | I&rsquo;ll let Bill O&rsquo;Reilly will 
                  a(title="We'll Do It Live" href='https://www.youtube.com/watch?v=O_HyZ5aW76c') explain
                  |  this one.
              h2 Unordered Lists (Nested)
              ul
                li
                  | List item one 
                  ul
                    li
                      | List item one 
                      ul
                        li List item one
                        li List item two
                        li List item three
                        li List item four
                    li List item two
                    li List item three
                    li List item four
                li List item two
                li List item three
                li List item four
              h2 Ordered List (Nested)
              ol(start='8')
                li
                  | List item one -start at 8 
                  ol
                    li
                      | List item one 
                      ol(reversed='reversed')
                        li List item one -reversed attribute
                        li List item two
                        li List item three
                        li List item four
                    li List item two
                    li List item three
                    li List item four
                li List item two
                li List item three
                li List item four
              h2 HTML Tags
              p
                | These supported tags come from the WordPress.com code 
                a(title='Code' href='https://en.support.wordpress.com/code/') FAQ
                | .
              p
                strong Address Tag
              address
                | 1 Infinite Loop
                br
                |  Cupertino, CA 95014
                br
                |  United States
              p
                strong Anchor Tag (aka. Link)
              p
                | This is an example of a 
                a(title='WordPress Foundation' href='https://wordpressfoundation.org/') link
                | .
              p
                strong Abbreviation Tag
              p
                | The abbreviation 
                abbr(title='Seriously') srsly
                |  stands for &ldquo;seriously&rdquo;.
              p
                strong
                  | Acronym Tag (
                  em deprecated in HTML5
                  | )
              p
                | The acronym 
                acronym(title='For The Win') ftw
                |  stands for &ldquo;for the win&rdquo;.
              p
                strong Big Tag
                |  (
                em deprecated in HTML5
                | )
              p
                | These tests are a 
                big big
                |  deal, but this tag is no longer supported in HTML5.
              p
                strong Cite Tag
              p
                | &ldquo;Code is poetry.&rdquo; &mdash;
                cite Automattic
              p
                strong Code Tag
              p
                | This tag styles blocks of code.
                br
                code
                  | .post-title {
                  br
                  |  margin: 0 0 5px;
                  br
                  |  font-weight: bold;
                  br
                  |  font-size: 38px;
                  br
                  |  line-height: 1.2;
                  br
                  |  and here&apos;s a line of some really, really, really, really long text, just to see how it is handled and to find out how it overflows;
                  br
                  |  }
                br
                |  You will learn later on in these tests that word-wrap: break-word;will be your best friend.
              p
                strong Delete Tag
              p
                | This tag will let you 
                del strike out text
                | , but this tag is 
                em recommended
                |  supported in HTML5 (use the 
                code &lt;s&gt;
                |  instead).
              p
                strong Emphasize Tag
              p
                | The emphasize tag should 
                em italicize
                i text
                | .
              p
                strong Horizontal Rule Tag
              hr
              p
                | This sentence is following a 
                code &lt;hr /&gt;
                |  tag.
              p
                strong Insert Tag
              p
                | This tag should denote 
                ins(cite='inserted it') inserted
                |  text.
              p
                strong Keyboard Tag
              p
                | This scarcely known tag emulates 
                kbd keyboard text
                | , which is usually styled like the 
                code &lt;code&gt;
                |  tag.
              p
                strong Preformatted Tag
              p This tag is for preserving whitespace as typed, such as in poetry or ASCII art.
              pre.
                \n      Two roads diverged in a solitaire wood, And sorry I could not travel both (\_/) And be one traveler, long I stood (='.'=) And looked down one as far as I could (")_(") To where it bent in the undergrowth; Then took the other, as just as fair, And having perhaps the better claim, |\_/| Because it was grassy and wanted wear; / @ @ \ Though as for that the passing there ( > º >x<<´ / O \ And both that morning equally lay In leaves no step had trodden black. Oh, I kept the first for another day! Yet knowing how way leads on to way, I doubted if I should ever come back. I shall be telling this with a sigh Somewhere ages and ages hence: Two roads diverged in a wood, and I— I took the one less traveled by, And that has made all the difference. and here's a line of some really, really, really, really long text, just to see how it is handled and to find out how it overflows;     
              p
                strong Quote Tag
                |  for short, inline quotes
              p
                q Developers, developers, developers&mldr;
                |  &ndash;Steve Ballmer
              p
                strong Strike Tag
                |  (
                em deprecated in HTML5
                | ) and 
                strong S Tag
              p
                | This tag shows 
                strike strike-through
                s text
                | .
              p
                strong Small Tag
              p
                | This tag shows 
                small
                  | smaller
                  small  text.
              p
                strong Strong Tag
              p
                | This tag shows 
                strong
                  | bold
                  strong  text.
              p
                strong Subscript Tag
              p
                | Getting our science styling on with H
                sub 2
                | O, which should push the &ldquo;2&rdquo; down.
              p
                strong Superscript Tag
              p
                | Still sticking with science and Albert Einstein&rsquo;s E = MC
                sup 2
                | , which should lift the 2 up.
              p
                strong Teletype Tag 
                | (
                em obsolete in HTML5
                | )
              p
                | This rarely used tag emulates 
                tt teletype text
                | , which is usually styled like the 
                code &lt;code&gt;
                |  tag.
              p
                strong Underline Tag
                em deprecated in HTML 4, re-introduced in HTML5 with other semantics
              p
                | This tag shows 
                u underlined text
                | .
              p
                strong Variable Tag
              p
                | This allows you to denote 
                var variables
                | .

      include includes/icons-nevigation
