.nav.flex-column.nav-pills.border-end.border-white-linen(aria-orientation='vertical')
    a.nav-link(href='element-accordions.html') Accordions
    a.nav-link(href='element-alerts.html') Alerts
    a.nav-link(href='element-blockquote.html') Blockquote
    a.nav-link(href='element-call-to-action.html') Process
    a.nav-link(href='element-typography.html') Typography
    a.nav-link(href='element-dropcaps.html') Dropcaps
    a.nav-link(href='element-buttons.html') Buttons
    a.nav-link(href='element-columns.html') Columns
    a.nav-link(href='element-contact-form.html') Contact Form
    a.nav-link(href='element-google-maps.html') Google Maps
    a.nav-link(href='element-lists.html') Lists
    a.nav-link(href='element-tables.html') Tables
    a.nav-link(href='element-tabs.html') Tabs
    a.nav-link(href='element-galleries.html') Gallery
    a.nav-link(href='element-Partner.html') Partner
    a.nav-link(href='element-icon-content-box.html') Icon Content Box 
    a.nav-link(href='element-image-content-box.html') Image Content Box 
    a.nav-link(href='element-numbered-process.html') Numbered Process
    a.nav-link(href='element-pricing-table.html') Pricing Table
    a.nav-link(href='element-slider.html') Slider
    a.nav-link(href='element-icons.html') Icons
    a.nav-link(href='element-counters.html') Counters
    a.nav-link(href='element-countdown.html') Countdown
    a.nav-link(href='element-progress-bar.html') Progress Bar
    a.nav-link(href='element-team.html') Team
    a.nav-link(href='element-testimonials.html') Testimonials