// Footer
footer.site-footer.bg-texture-image.overflow-hidden
  .footer-widgets
    .container
      .row.gx-lg-40
        .col-lg-4
          .position-relative
            .footer-widget.footer-widget-1
              h2.mb-px-36 Eat nutritious food because it makes your health so good.
              h4.text-flame-pea.base-font-family.text-uppercase Oganic
              img.ms-px-n-45.d-lg-block.d-none(src="assets/images/flowers/f4.png", alt="hero flower image").position-absolute.top-px-5.start-px-n-115
        .col-lg-2.col-md-6.col-12.mt-lg-0.mt-md-5.mt-4
          .ms-px-lg-9
            h5.mb-px-16 Get in touch
            p.footer-text-size.mb-5 info@address.com
            div.pt-1
              h5.mb-px-28 Headquarters
            .pe-px-lg-0.pe-px-md-60.pe-px-40
              p.footer-text-size.mb-4 9235 Bayberry Drive Hendersonville, NC 28792
        .col-lg-2.col-md-6.col-12.mt-lg-0.mt-md-5.mt-4
          .ms-px-lg-14
            h5 Useful
            .footer-widget.footer-widget-2
              ul.pt-px-17 
                li
                  a(href='page-partners.html') Certificates
                li
                  a(href='page-abuot-us.html') Platform
                li
                  a(href='page-faq.html') FAQ 
                li
                  a(href='page-contact.html') Legal & Privacy
                li
                  a(href='blog.html') Blog

        .col-lg-4.col-md-6.col-12
          .position-relative
            .ms-px-lg-13
              h5.mb-px-16 Newsletter
              p.footer-text-size.mb-4 Sign up here to get the latest news, updates and special offers delivered to your inbox.
              form#contact-form(method='post' action='assets/php/contact.php')
                .mb-px-20.pb-2
                  input#form_email.footer-input.form-control.input-border.text-md-start.text-center(type='text', name='lname', placeholder='mail@address.com', required)
                .row
                  .col-lg-3.col-md-4.text-md-start.text-center
                    a.footer-form.h6.btn-link.pb-px-12.d-block(href='#') Submit
                      i.fas.fa-long-arrow-alt-right.ms-px-14
            img(src="assets/images/flowers/f17.png", alt="hero flower image").position-absolute.top-px-n-lg-10.end-px-n-lg-100.top-px-n-md-70.end-px-n-md-150
  .footer-bottom-area
    .container
      .row.gx-5
        .col-lg-6.col-md-6
          .footer-widget.text-md-start.text-center
            p.m-md-0 © #{new Date().getFullYear()} Energetic Themes • All Rights Reserved
        .col-lg-6.col-md-6
          div.text-md-end.text-center
            ul.list-unstyled.list-inlinetrue
              li.list-inline-item.me-px-21
                a(href='#')
                  i.fab.fa-facebook-square.icon
              li.list-inline-item.me-px-21
                a(href='#')
                  i.fab.fa-instagram.icon
              li.list-inline-item.me-px-21
                a(href='#')
                  i.fab.fa-twitter.icon
              li.list-inline-item
                a(href='#')
                  i.fab.fa-linkedin-in.icon

// End Footer