// Navbar
.bg-bay-leaf.py-2
  .continer
    a.text-center(href="#")
      p.font-size-14.text-white.mb-0 Black Friday | Hundreds of brands, up to 50% off!
        span  
          i.fas.fa-long-arrow-alt-right

.site-header
  nav.navbar.navbar-expand-lg.navbar-light.pe-lg-7.ps-lg-6.px-4
    .container-fluid.px-0
      a.navbar-brand.text-center.d-md-block.d-lg-none(href='index.html')
        <svg xmlns="http://www.w3.org/2000/svg" width="119" height="43" viewBox="0 0 119 43">
          <text id="Oganic1" transform="translate(0 35)" fill="#2a5631" font-size="32" font-family="PlayfairDisplay-Bold, Playfair Display" font-weight="700" letter-spacing="-0.05em"><tspan x="0" y="0">OGANIC</tspan></text>
        </svg>

      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

      #navbarNavDropdown.collapse.navbar-collapse
        .col-lg-2
          a.navbar-brand.mx-auto.d-none.d-lg-block(href='index.html')
            <svg xmlns="http://www.w3.org/2000/svg" width="119" height="43" viewBox="0 0 119 43">
              <text id="Oganic" transform="translate(0 35)" fill="#2a5631" font-size="32" font-family="PlayfairDisplay-Bold, Playfair Display" font-weight="700" letter-spacing="-0.05em"><tspan x="0" y="0">OGANIC</tspan></text>
            </svg>

        
        .col-lg-8
          ul.navbar-nav.justify-content-lg-center
            //- Homes
            li.nav-item.ml-0
              a.nav-link.pl-0(href='index.html') Home
            //- Pages
            li.nav-item.dropdown
              a.dropdown-toggle.nav-link(href='#', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Pages
              .dropdown-menu
                a.dropdown-item(href='page-about-us.html') About Us
                a.dropdown-item(href='page-services.html') Services
                a.dropdown-item(href='page-contact.html') Contact Us
                a.dropdown-item(href='page-partners.html') Partners
                a.dropdown-item(href='page-404.html') 404
                a.dropdown-item(href='page-pricing-table.html') Pricing Table 
                a.dropdown-item(href='page-faq.html') Faq's
                a.dropdown-item(href='page-team.html') Team
                a.dropdown-item(href='page-testimonials.html') Testimonials
            
            //- portfolio
            li.nav-item.dropdown.mega_menu_holder
              a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown') Portfolio
              .dropdown-menu
                a.dropdown-item(href='page-portfolio.html') Portfolio
                a.dropdown-item(href='page-portfolio-three-col.html') Portfolio Three Col
                a.dropdown-item(href='single-project.html') Single Project

            //- Blog
            li.nav-item.dropdown.mega_menu_holder
              a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown') Blog
              .dropdown-menu
                a.dropdown-item(href='blog.html') Blog
                a.dropdown-item(href='blog-single-post.html') Single Post
                a.dropdown-item(href='blog-right-sidebar.html') Right Sidebar
                a.dropdown-item(href='blog-left-sidebar.html') Left Sidebar
                a.dropdown-item(href='blog-three-col.html') Three Col
                a.dropdown-item(href='blog-two-col-right-sidebar.html') Two Col Right Sidebar
                a.dropdown-item(href='blog-two-col-left-sidebar.html') Two Col Left Sidebar
                a.dropdown-item(href='blog-card-right-sidebar.html') Card Right Sidebar
                a.dropdown-item(href='blog-card-left-sidebar.html') Card Left Sidebar
                a.dropdown-item(href='blog-card-three-col.html') Card Three Col
                a.dropdown-item(href='blog-card-two-col-right-sidebar.html') Card two Col Right Sidebar
                a.dropdown-item(href='blog-card-two-col-left-sidebar.html') Card two Col Left Sidebar
                a.dropdown-item(href='blog-single-post-gallery.html') Single Gallary Post 
                a.dropdown-item(href='blog-single-post-video.html') Single Video Post
                a.dropdown-item(href='blog-single-post-audio.html') Single Audio Post

            //- shop
            li.nav-item.dropdown.mega_menu_holder
              a.dropdown-toggle.nav-link(href='#', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Shop
              .dropdown-menu
                a.dropdown-item(href='shop.html') Shop
                a.dropdown-item(href='single-product.html') Single Product
            //- element
            li.nav-item
              a.nav-link(href='element-accordions.html') Element


        .col-lg-2.d-none.d-lg-block
          ul.list-unstyled.nav-modules.text-end
            // Social nav
            li.list-inline-item
              span.i.h6.fas.fa-user-circle.navbar-icon-size.me-px-18(data-bs-toggle="modal" data-bs-target="#user-login")
            li.list-inline-item
              span.i.h6.fas.fa-search.navbar-icon-size.me-px-18.openBtn(onclick='openSearch()')
            li.list-inline-item
              span.i.h6.fas.fa-bars.navbar-icon-size( data-bs-toggle="modal" data-bs-target="#checkout-modal")
            

// End Navbar 