meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
// favicon
link(rel='shortcut icon' href='assets/images/favicon.ico')
// Site Title
title @@pkg.item_title
meta(name='description', content='@@pkg.description')
// Bootstrap CSS file
link(href="assets/css/bootstrap.min.css" rel="stylesheet")
// Flickity CSS file
link(href="assets/css/flickity.min.css" rel="stylesheet")
// Main CSS file
link(href="assets/css/style.css" rel="stylesheet")
// Fontawesome 5 CSS file
link(href="assets/css/fontawesome-all.min.css" rel="stylesheet")
// Magnific Popup CSS
link(href="assets/css/magnific-popup.css" rel="stylesheet")
// Google Fonts
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&DM+Sans:wght@700&display=swap")
