doctype html
html(lang='en')
  head
    block head
      include head
  body
    block header
      include header
      
    block content
    
    block footer
      include footer

    // javascript files
    block scripts
      include scripts