// Content
#home.bg-img-feature-1.text-center
  .container
    .row.align-items-center.height-vh60.py-150px
      .col-lg-8.offset-lg-2.align-items-center
        h1.py-15px.text-white Great Gesign Drives Sales
        p.lead.mb-35px.text-white
          | This template is meticulous design for personal and corporate
          | website. It is formulated considering all requirements and
          | need to design a scenic website.
        a.btn.btn-outline-light.text-white(href='https://themeforest.net/user/energeticthemes/portfolio') Buy  Now
#about_us.container.mt-100px.mb-30px
  .row
    .col-md-6.mb-30px
      img.mb-25px(src='assets/images/holder/1.jpg', alt='image')
      h5.mb-10px Digitial Marketing
      p
        | Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod.
        | Fusce dapibus,
        | tellus ac cursus commodo, tortor mauris condimentum nibh, Cras purus sit amet fermentum. Eu
        | vis
        | modo.
    .col-md-6.mb-30px
      img.mb-25px(src='assets/images/holder/2.jpg', alt='image')
      h5.mb-10px Bussiness Planning
      p
        | Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod.
        | Fusce dapibus,
        | tellus ac cursus commodo, tortor mauris condimentum nibh, Cras purus sit amet fermentum. Eu
        | vis
        | modo.
    .col-md-6.mb-30px
      img.mb-25px(src='assets/images/holder/3.jpg', alt='image')
      h5.mb-10px Decision Making
      p
        | Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod.
        | Fusce dapibus,
        | tellus ac cursus commodo, tortor mauris condimentum nibh, Cras purus sit amet fermentum. Eu
        | vis
        | modo.
    .col-md-6.mb-30px
      img.mb-25px(src='assets/images/holder/4.jpg', alt='image')
      h5.mb-10px Content Creation
      p
        | Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod.
        | Fusce dapibus,
        | tellus ac cursus commodo, tortor mauris condimentum nibh, Cras purus sit amet fermentum. Eu
        | vis
        | modo.