// jquery
script(src="assets/js/jquery.min.js")
// lozad js
script(src="assets/js/lozad.min.js")
// Bootstrap js
script(src="assets/js/bootstrap.bundle.min.js")
// Aos js
script(src="assets/js/aos.js")
// Slick flickity js
script(src="assets/js/flickity.pkgd.min.js")
// Magnific popup js
script(src="assets/js/jquery.magnific-popup.min.js")
// Countdown js
script(src="assets/js/jquery.countdown.js")
// CountTo js
script(src="assets/js/jquery.countTo.js")
// Masonry js
script(src="assets/js/masonry.pkgd.min.js")

// search
script(src="assets/js/search.js")

script( src="assets/js/instafeed.min.js")

// Global - Main js
script(src="assets/js/global.js")
