// Sidebar
aside.widget
  form.search-form(role='search')
    .input-group
      input#form_search.footer-input.form-control.border-white-smoke.input-border(type='text' name='lname' placeholder='Search', required)
      .input-group-append.mt-2
        a.text-right.d-block.pb-px-12.pt-px-12.input-border.border-white-smoke(href='#') 
          i.fas.fa-search.parsley.mb-0 

// Top Posts
aside.widget
  h5.widget-title Top Posts
  .simple-entry-list.blog-post
    article.mb-4
      .entry-content1-wrapper
        .entry-header
          h2.entry-title
            a(href='blog-single-post.html') The Story Of New Startup Has Just Gone Viral
          +entryMetaTop('Amjad Ali', 'Photography', 'sep 20,2020')
    article.mb-4
      .entry-content1-wrapper
        .entry-header
          h2.entry-title
            a(href='blog-single-post.html') Most Effective Ways To Overcome Finances Problem
          +entryMetaTop('Amjad Ali', 'Photography', 'sep 20,2020')
    article.mb-4
      .entry-content1-wrapper
        .entry-header
          h2.entry-title
            a(href='blog-single-post.html') 5 Benefits Of Startup That May Change Your Perspective
          +entryMetaTop('Amjad Ali', 'Photography', 'sep 20,2020')
    article.mb-4
      .entry-content1-wrapper
        .entry-header
          h2.entry-title
            a(href='blog-single-post.html') The Reason Why Everyone Love Startup Company
          +entryMetaTop('Amjad Ali', 'Photography', 'sep 20,2020')
    article.mb-4
      .entry-content1-wrapper
        .entry-header
          h2.entry-title
            a(href='blog-single-post.html') The Story Of New Startup Has Just Gone Viral
          +entryMetaTop('Amjad Ali', 'Photography', 'sep 20,2020')

// Categories
aside.widget.widget_categories
  h5.widget-title Categories
  ul
    li
      a(href='blog-right-sidebar.html') Culture
    li
      a(href='blog-right-sidebar.html') Creativity
    li
      a(href='blog-right-sidebar.html') Opinion 
    li
      a(href='blog-right-sidebar.html') Weddings
    li
      a(href='blog-right-sidebar.html') Automobiles
    li
      a(href='blog-right-sidebar.html') Living
      ul
        li
          a(href='blog-right-sidebar.html') Education
        li
          a(href='blog-right-sidebar.html') Travel
        li
          a(href='blog-right-sidebar.html') Food
          ul
            li
              a(href='blog-right-sidebar.html') Traditional
            li
              a(href='blog-right-sidebar.html') Famous 
    li
      a(href='blog-right-sidebar.html') Humor
    li
      a(href='blog-right-sidebar.html') Sports
    li
      a(href='blog-right-sidebar.html') Health
    li
      a(href='blog-right-sidebar.html') Photography

// Sidebar End