// Sidebar
.widget
  form.search-form(role='search')
    .input-group
      input.form-control(type='text', placeholder='Search', name='q')
      .input-group-append
        button.btn(type='submit')
          i.fa.fa-search(aria-hidden='true')
.primary-bg-color.widget.pt-30px.pb-30px.px-30px
  h5.widget-title Categories
  ul.border-list
    li
      a(href='#') Bags
    li
      a(href='#') Boot
    li
      a(href='#') Clothing
    li
      a(href='#') Exclusive
    li
      a(href='#') Sandals
    li
      a(href='#') Shoes
    li
      a(href='#') Sunglasses
    li
      a(href='#') Trending
    li
      a(href='#') Women
.widget
  h5.widget-title Filter by size
  ul.product-filterBySize.m-0.list-unstyled
    li
      a(href='#') XS
    li
      a(href='#') S
    li
      a(href='#') M
    li
      a(href='#') L
    li
      a(href='#') XL
// Sidebar End