// // Utilities
@import "node_modules/bootstrap/scss/utilities";

$utilities: map-merge($utilities,
  ("opacity": (property: opacity,
      responsive: true,
      state: hover,
      values: (0: 0,
        15: .15,
        20: .20,
        25: .25,
        50: .5,
        75: .75,
        85: .85,
        100: 1,
      )),
    "margin-px-top": (property: margin-top,
      class: mt-px,
      responsive: true,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px,
        9: 9px,
        10: 10px,
        11: 11px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        18: 18px,
        19: 19px,
        20: 20px,
        21: 21px,
        22: 22px,
        23: 23px,
        24: 24px,
        25: 25px,
        26: 26px,
        27: 27px,
        28: 28px,
        29: 29px,
        30: 30px,
        31: 31px,
        32: 32px,
        33: 33px,
        34: 34px,
        35: 35px,
        36: 36px,
        37: 37px,
        38: 38px,
        39: 39px,
        40: 40px,
        41: 41px,
        42: 42px,
        43: 43px,
        44: 44px,
        45: 45px,
        46: 46px,
        47: 47px,
        48: 48px,
        49: 49px,
        50: 50px,
        51: 51px,
        52: 52px,
        53: 53px,
        54: 54px,
        55: 55px,
        56: 56px,
        57: 57px,
        58: 58px,
        59: 59px,
        60: 60px,
        61: 61px,
        62: 62px,
        63: 63px,
        64: 64px,
        65: 65px,
        66: 66px,
        67: 67px,
        68: 68px,
        69: 69px,
        70: 70px,
        71: 71px,
        72: 72px,
        73: 73px,
        74: 74px,
        75: 75px,
        76: 76px,
        77: 77px,
        78: 78px,
        79: 79px,
        80: 80px,
        81: 81px,
        82: 82px,
        83: 83px,
        84: 84px,
        85: 85px,
        86: 86px,
        87: 87px,
        88: 88px,
        89: 89px,
        90: 90px,
        91: 91px,
        92: 92px,
        93: 93px,
        94: 94px,
        95: 95px,
        96: 96px,
        97: 97px,
        98: 98px,
        99: 99px,
        100: 100px,
        101: 101px,
        102: 102px,
        103: 103px,
        104: 104px,
        105: 105px,
        106: 106px,
        107: 107px,
        108: 108px,
        109: 109px,
        110: 110px,
        111: 111px,
        112: 112px,
        113: 113px,
        114: 114px,
        115: 115px,
        116: 116px,
        117: 117px,
        118: 118px,
        119: 119px,
        120: 120px,
        121: 121px,
        122: 122px,
        123: 123px,
        124: 124px,
        125: 125px,
        126: 126px,
        127: 127px,
        128: 128px,
        129: 129px,
        130: 130px,
        131: 131px,
        132: 132px,
        133: 133px,
        134: 134px,
        135: 135px,
        136: 136px,
        137: 137px,
        138: 138px,
        139: 139px,
        140: 140px,
        141: 141px,
        142: 142px,
        143: 143px,
        144: 144px,
        145: 145px,
        146: 146px,
        147: 147px,
        148: 148px,
        149: 149px,
        150: 150px,
        151: 151px,
      )),
    "margin-px-bottom": (property: margin-bottom,
      class: mb-px,
      responsive: true,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px,
        9: 9px,
        10: 10px,
        11: 11px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        18: 18px,
        19: 19px,
        20: 20px,
        21: 21px,
        22: 22px,
        23: 23px,
        24: 24px,
        25: 25px,
        26: 26px,
        27: 27px,
        28: 28px,
        29: 29px,
        30: 30px,
        31: 31px,
        32: 32px,
        33: 33px,
        34: 34px,
        35: 35px,
        36: 36px,
        37: 37px,
        38: 38px,
        39: 39px,
        40: 40px,
        41: 41px,
        42: 42px,
        43: 43px,
        44: 44px,
        45: 45px,
        46: 46px,
        47: 47px,
        48: 48px,
        49: 49px,
        50: 50px,
        51: 51px,
        52: 52px,
        53: 53px,
        54: 54px,
        55: 55px,
        56: 56px,
        57: 57px,
        58: 58px,
        59: 59px,
        60: 60px,
        61: 61px,
        62: 62px,
        63: 63px,
        64: 64px,
        65: 65px,
        66: 66px,
        67: 67px,
        68: 68px,
        69: 69px,
        70: 70px,
        71: 71px,
        72: 72px,
        73: 73px,
        74: 74px,
        75: 75px,
        76: 76px,
        77: 77px,
        78: 78px,
        79: 79px,
        80: 80px,
        81: 81px,
        82: 82px,
        83: 83px,
        84: 84px,
        85: 85px,
        86: 86px,
        87: 87px,
        88: 88px,
        89: 89px,
        90: 90px,
        91: 91px,
        92: 92px,
        93: 93px,
        94: 94px,
        95: 95px,
        96: 96px,
        97: 97px,
        98: 98px,
        99: 99px,
        100: 100px,
        101: 101px,
        102: 102px,
        103: 103px,
        104: 104px,
        105: 105px,
        106: 106px,
        107: 107px,
        108: 108px,
        109: 109px,
        110: 110px,
        111: 111px,
        112: 112px,
        113: 113px,
        114: 114px,
        115: 115px,
        116: 116px,
        117: 117px,
        118: 118px,
        119: 119px,
        120: 120px,
        121: 121px,
        122: 122px,
        123: 123px,
        124: 124px,
        125: 125px,
        126: 126px,
        127: 127px,
        128: 128px,
        129: 129px,
        130: 130px,
        131: 131px,
        132: 132px,
        133: 133px,
        134: 134px,
        135: 135px,
        136: 136px,
        137: 137px,
        138: 138px,
        139: 139px,
        140: 140px,
        141: 141px,
        142: 142px,
        143: 143px,
        144: 144px,
        145: 145px,
        146: 146px,
        147: 147px,
        148: 148px,
        149: 149px,
        150: 150px,
        151: 151px,
      )),

    "margin-px-right": (property: margin-right,
      class: me-px,
      responsive: true,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px,
        9: 9px,
        10: 10px,
        11: 11px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        18: 18px,
        19: 19px,
        20: 20px,
        21: 21px,
        22: 22px,
        23: 23px,
        24: 24px,
        25: 25px,
        26: 26px,
        27: 27px,
        28: 28px,
        29: 29px,
        30: 30px,
        31: 31px,
        32: 32px,
        33: 33px,
        34: 34px,
        35: 35px,
        36: 36px,
        37: 37px,
        38: 38px,
        39: 39px,
        40: 40px,
        41: 41px,
        42: 42px,
        43: 43px,
        44: 44px,
        45: 45px,
        46: 46px,
        47: 47px,
        48: 48px,
        49: 49px,
        50: 50px,
        51: 51px,
        52: 52px,
        53: 53px,
        54: 54px,
        55: 55px,
        56: 56px,
        57: 57px,
        58: 58px,
        59: 59px,
        60: 60px,
        61: 61px,
        62: 62px,
        63: 63px,
        64: 64px,
        65: 65px,
        66: 66px,
        67: 67px,
        68: 68px,
        69: 69px,
        70: 70px,
        71: 71px,
        72: 72px,
        73: 73px,
        74: 74px,
        75: 75px,
        76: 76px,
        77: 77px,
        78: 78px,
        79: 79px,
        80: 80px,
        81: 81px,
        82: 82px,
        83: 83px,
        84: 84px,
        85: 85px,
        86: 86px,
        87: 87px,
        88: 88px,
        89: 89px,
        90: 90px,
        91: 91px,
        92: 92px,
        93: 93px,
        94: 94px,
        95: 95px,
        96: 96px,
        97: 97px,
        98: 98px,
        99: 99px,
        100: 100px,
        101: 101px,
        102: 102px,
        103: 103px,
        104: 104px,
        105: 105px,
        106: 106px,
        107: 107px,
        108: 108px,
        109: 109px,
        110: 110px,
        111: 111px,
        112: 112px,
        113: 113px,
        114: 114px,
        115: 115px,
        116: 116px,
        117: 117px,
        118: 118px,
        119: 119px,
        120: 120px,
        121: 121px,
        122: 122px,
        123: 123px,
        124: 124px,
        125: 125px,
        126: 126px,
        127: 127px,
        128: 128px,
        129: 129px,
        130: 130px,
        131: 131px,
        132: 132px,
        133: 133px,
        134: 134px,
        135: 135px,
        136: 136px,
        137: 137px,
        138: 138px,
        139: 139px,
        140: 140px,
        141: 141px,
        142: 142px,
        143: 143px,
        144: 144px,
        145: 145px,
        146: 146px,
        147: 147px,
        148: 148px,
        149: 149px,
        150: 150px,
        151: 151px,
      )),

    "margin-px-left": (property: margin-left,
      class: ms-px,
      responsive: true,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px,
        9: 9px,
        10: 10px,
        11: 11px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        18: 18px,
        19: 19px,
        20: 20px,
        21: 21px,
        22: 22px,
        23: 23px,
        24: 24px,
        25: 25px,
        26: 26px,
        27: 27px,
        28: 28px,
        29: 29px,
        30: 30px,
        31: 31px,
        32: 32px,
        33: 33px,
        34: 34px,
        35: 35px,
        36: 36px,
        37: 37px,
        38: 38px,
        39: 39px,
        40: 40px,
        41: 41px,
        42: 42px,
        43: 43px,
        44: 44px,
        45: 45px,
        46: 46px,
        47: 47px,
        48: 48px,
        49: 49px,
        50: 50px,
        51: 51px,
        52: 52px,
        53: 53px,
        54: 54px,
        55: 55px,
        56: 56px,
        57: 57px,
        58: 58px,
        59: 59px,
        60: 60px,
        61: 61px,
        62: 62px,
        63: 63px,
        64: 64px,
        65: 65px,
        66: 66px,
        67: 67px,
        68: 68px,
        69: 69px,
        70: 70px,
        71: 71px,
        72: 72px,
        73: 73px,
        74: 74px,
        75: 75px,
        76: 76px,
        77: 77px,
        78: 78px,
        79: 79px,
        80: 80px,
        81: 81px,
        82: 82px,
        83: 83px,
        84: 84px,
        85: 85px,
        86: 86px,
        87: 87px,
        88: 88px,
        89: 89px,
        90: 90px,
        91: 91px,
        92: 92px,
        93: 93px,
        94: 94px,
        95: 95px,
        96: 96px,
        97: 97px,
        98: 98px,
        99: 99px,
        100: 100px,
        101: 101px,
        102: 102px,
        103: 103px,
        104: 104px,
        105: 105px,
        106: 106px,
        107: 107px,
        108: 108px,
        109: 109px,
        110: 110px,
        111: 111px,
        112: 112px,
        113: 113px,
        114: 114px,
        115: 115px,
        116: 116px,
        117: 117px,
        118: 118px,
        119: 119px,
        120: 120px,
        121: 121px,
        122: 122px,
        123: 123px,
        124: 124px,
        125: 125px,
        126: 126px,
        127: 127px,
        128: 128px,
        129: 129px,
        130: 130px,
        131: 131px,
        132: 132px,
        133: 133px,
        134: 134px,
        135: 135px,
        136: 136px,
        137: 137px,
        138: 138px,
        139: 139px,
        140: 140px,
        141: 141px,
        142: 142px,
        143: 143px,
        144: 144px,
        145: 145px,
        146: 146px,
        147: 147px,
        148: 148px,
        149: 149px,
        150: 150px,
        151: 151px,
      )),
    "padding-px-top": (property: padding-top,
      class: pt-px,
      responsive: true,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px,
        9: 9px,
        10: 10px,
        11: 11px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        18: 18px,
        19: 19px,
        20: 20px,
        21: 21px,
        22: 22px,
        23: 23px,
        24: 24px,
        25: 25px,
        26: 26px,
        27: 27px,
        28: 28px,
        29: 29px,
        30: 30px,
        31: 31px,
        32: 32px,
        33: 33px,
        34: 34px,
        35: 35px,
        36: 36px,
        37: 37px,
        38: 38px,
        39: 39px,
        40: 40px,
        41: 41px,
        42: 42px,
        43: 43px,
        44: 44px,
        45: 45px,
        46: 46px,
        47: 47px,
        48: 48px,
        49: 49px,
        50: 50px,
        51: 51px,
        52: 52px,
        53: 53px,
        54: 54px,
        55: 55px,
        56: 56px,
        57: 57px,
        58: 58px,
        59: 59px,
        60: 60px,
        61: 61px,
        62: 62px,
        63: 63px,
        64: 64px,
        65: 65px,
        66: 66px,
        67: 67px,
        68: 68px,
        69: 69px,
        70: 70px,
        71: 71px,
        72: 72px,
        73: 73px,
        74: 74px,
        75: 75px,
        76: 76px,
        77: 77px,
        78: 78px,
        79: 79px,
        80: 80px,
        81: 81px,
        82: 82px,
        83: 83px,
        84: 84px,
        85: 85px,
        86: 86px,
        87: 87px,
        88: 88px,
        89: 89px,
        90: 90px,
        91: 91px,
        92: 92px,
        93: 93px,
        94: 94px,
        95: 95px,
        96: 96px,
        97: 97px,
        98: 98px,
        99: 99px,
        100: 100px,
        101: 101px,
        102: 102px,
        103: 103px,
        104: 104px,
        105: 105px,
        106: 106px,
        107: 107px,
        108: 108px,
        109: 109px,
        110: 110px,
        111: 111px,
        112: 112px,
        113: 113px,
        114: 114px,
        115: 115px,
        116: 116px,
        117: 117px,
        118: 118px,
        119: 119px,
        120: 120px,
        121: 121px,
        122: 122px,
        123: 123px,
        124: 124px,
        125: 125px,
        126: 126px,
        127: 127px,
        128: 128px,
        129: 129px,
        130: 130px,
        131: 131px,
        132: 132px,
        133: 133px,
        134: 134px,
        135: 135px,
        136: 136px,
        137: 137px,
        138: 138px,
        139: 139px,
        140: 140px,
        141: 141px,
        142: 142px,
        143: 143px,
        144: 144px,
        145: 145px,
        146: 146px,
        147: 147px,
        148: 148px,
        149: 149px,
        150: 150px,
        151: 151px,
      )),
    "padding-px-bottom": (property: padding-bottom,
      class: pb-px,
      responsive: true,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px,
        9: 9px,
        10: 10px,
        11: 11px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        18: 18px,
        19: 19px,
        20: 20px,
        21: 21px,
        22: 22px,
        23: 23px,
        24: 24px,
        25: 25px,
        26: 26px,
        27: 27px,
        28: 28px,
        29: 29px,
        30: 30px,
        31: 31px,
        32: 32px,
        33: 33px,
        34: 34px,
        35: 35px,
        36: 36px,
        37: 37px,
        38: 38px,
        39: 39px,
        40: 40px,
        41: 41px,
        42: 42px,
        43: 43px,
        44: 44px,
        45: 45px,
        46: 46px,
        47: 47px,
        48: 48px,
        49: 49px,
        50: 50px,
        51: 51px,
        52: 52px,
        53: 53px,
        54: 54px,
        55: 55px,
        56: 56px,
        57: 57px,
        58: 58px,
        59: 59px,
        60: 60px,
        61: 61px,
        62: 62px,
        63: 63px,
        64: 64px,
        65: 65px,
        66: 66px,
        67: 67px,
        68: 68px,
        69: 69px,
        70: 70px,
        71: 71px,
        72: 72px,
        73: 73px,
        74: 74px,
        75: 75px,
        76: 76px,
        77: 77px,
        78: 78px,
        79: 79px,
        80: 80px,
        81: 81px,
        82: 82px,
        83: 83px,
        84: 84px,
        85: 85px,
        86: 86px,
        87: 87px,
        88: 88px,
        89: 89px,
        90: 90px,
        91: 91px,
        92: 92px,
        93: 93px,
        94: 94px,
        95: 95px,
        96: 96px,
        97: 97px,
        98: 98px,
        99: 99px,
        100: 100px,
        101: 101px,
        102: 102px,
        103: 103px,
        104: 104px,
        105: 105px,
        106: 106px,
        107: 107px,
        108: 108px,
        109: 109px,
        110: 110px,
        111: 111px,
        112: 112px,
        113: 113px,
        114: 114px,
        115: 115px,
        116: 116px,
        117: 117px,
        118: 118px,
        119: 119px,
        120: 120px,
        121: 121px,
        122: 122px,
        123: 123px,
        124: 124px,
        125: 125px,
        126: 126px,
        127: 127px,
        128: 128px,
        129: 129px,
        130: 130px,
        131: 131px,
        132: 132px,
        133: 133px,
        134: 134px,
        135: 135px,
        136: 136px,
        137: 137px,
        138: 138px,
        139: 139px,
        140: 140px,
        141: 141px,
        142: 142px,
        143: 143px,
        144: 144px,
        145: 145px,
        146: 146px,
        147: 147px,
        148: 148px,
        149: 149px,
        150: 150px,
        151: 151px,
      )),

    "padding-px-right": (property: padding-right,
      class: pe-px,
      responsive: true,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px,
        9: 9px,
        10: 10px,
        11: 11px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        18: 18px,
        19: 19px,
        20: 20px,
        21: 21px,
        22: 22px,
        23: 23px,
        24: 24px,
        25: 25px,
        26: 26px,
        27: 27px,
        28: 28px,
        29: 29px,
        30: 30px,
        31: 31px,
        32: 32px,
        33: 33px,
        34: 34px,
        35: 35px,
        36: 36px,
        37: 37px,
        38: 38px,
        39: 39px,
        40: 40px,
        41: 41px,
        42: 42px,
        43: 43px,
        44: 44px,
        45: 45px,
        46: 46px,
        47: 47px,
        48: 48px,
        49: 49px,
        50: 50px,
        51: 51px,
        52: 52px,
        53: 53px,
        54: 54px,
        55: 55px,
        56: 56px,
        57: 57px,
        58: 58px,
        59: 59px,
        60: 60px,
        61: 61px,
        62: 62px,
        63: 63px,
        64: 64px,
        65: 65px,
        66: 66px,
        67: 67px,
        68: 68px,
        69: 69px,
        70: 70px,
        71: 71px,
        72: 72px,
        73: 73px,
        74: 74px,
        75: 75px,
        76: 76px,
        77: 77px,
        78: 78px,
        79: 79px,
        80: 80px,
        81: 81px,
        82: 82px,
        83: 83px,
        84: 84px,
        85: 85px,
        86: 86px,
        87: 87px,
        88: 88px,
        89: 89px,
        90: 90px,
        91: 91px,
        92: 92px,
        93: 93px,
        94: 94px,
        95: 95px,
        96: 96px,
        97: 97px,
        98: 98px,
        99: 99px,
        100: 100px,
        101: 101px,
        102: 102px,
        103: 103px,
        104: 104px,
        105: 105px,
        106: 106px,
        107: 107px,
        108: 108px,
        109: 109px,
        110: 110px,
        111: 111px,
        112: 112px,
        113: 113px,
        114: 114px,
        115: 115px,
        116: 116px,
        117: 117px,
        118: 118px,
        119: 119px,
        120: 120px,
        121: 121px,
        122: 122px,
        123: 123px,
        124: 124px,
        125: 125px,
        126: 126px,
        127: 127px,
        128: 128px,
        129: 129px,
        130: 130px,
        131: 131px,
        132: 132px,
        133: 133px,
        134: 134px,
        135: 135px,
        136: 136px,
        137: 137px,
        138: 138px,
        139: 139px,
        140: 140px,
        141: 141px,
        142: 142px,
        143: 143px,
        144: 144px,
        145: 145px,
        146: 146px,
        147: 147px,
        148: 148px,
        149: 149px,
        150: 150px,
        151: 151px,
      )),
    "padding-px-left": (property: padding-left,
      class: ps-px,
      responsive: true,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px,
        9: 9px,
        10: 10px,
        11: 11px,
        12: 12px,
        13: 13px,
        14: 14px,
        15: 15px,
        16: 16px,
        17: 17px,
        18: 18px,
        19: 19px,
        20: 20px,
        21: 21px,
        22: 22px,
        23: 23px,
        24: 24px,
        25: 25px,
        26: 26px,
        27: 27px,
        28: 28px,
        29: 29px,
        30: 30px,
        31: 31px,
        32: 32px,
        33: 33px,
        34: 34px,
        35: 35px,
        36: 36px,
        37: 37px,
        38: 38px,
        39: 39px,
        40: 40px,
        41: 41px,
        42: 42px,
        43: 43px,
        44: 44px,
        45: 45px,
        46: 46px,
        47: 47px,
        48: 48px,
        49: 49px,
        50: 50px,
        51: 51px,
        52: 52px,
        53: 53px,
        54: 54px,
        55: 55px,
        56: 56px,
        57: 57px,
        58: 58px,
        59: 59px,
        60: 60px,
        61: 61px,
        62: 62px,
        63: 63px,
        64: 64px,
        65: 65px,
        66: 66px,
        67: 67px,
        68: 68px,
        69: 69px,
        70: 70px,
        71: 71px,
        72: 72px,
        73: 73px,
        74: 74px,
        75: 75px,
        76: 76px,
        77: 77px,
        78: 78px,
        79: 79px,
        80: 80px,
        81: 81px,
        82: 82px,
        83: 83px,
        84: 84px,
        85: 85px,
        86: 86px,
        87: 87px,
        88: 88px,
        89: 89px,
        90: 90px,
        91: 91px,
        92: 92px,
        93: 93px,
        94: 94px,
        95: 95px,
        96: 96px,
        97: 97px,
        98: 98px,
        99: 99px,
        100: 100px,
        101: 101px,
        102: 102px,
        103: 103px,
        104: 104px,
        105: 105px,
        106: 106px,
        107: 107px,
        108: 108px,
        109: 109px,
        110: 110px,
        111: 111px,
        112: 112px,
        113: 113px,
        114: 114px,
        115: 115px,
        116: 116px,
        117: 117px,
        118: 118px,
        119: 119px,
        120: 120px,
        121: 121px,
        122: 122px,
        123: 123px,
        124: 124px,
        125: 125px,
        126: 126px,
        127: 127px,
        128: 128px,
        129: 129px,
        130: 130px,
        131: 131px,
        132: 132px,
        133: 133px,
        134: 134px,
        135: 135px,
        136: 136px,
        137: 137px,
        138: 138px,
        139: 139px,
        140: 140px,
        141: 141px,
        142: 142px,
        143: 143px,
        144: 144px,
        145: 145px,
        146: 146px,
        147: 147px,
        148: 148px,
        149: 149px,
        150: 150px,
        151: 151px,
      )),
    "margin-px-n-top": (property: margin-top,
      class: mt-px-n,
      responsive: true,
      values: (0: 0,
        1: -1px,
        2: -2px,
        3: -3px,
        4: -4px,
        5: -5px,
        6: -6px,
        7: -7px,
        8: -8px,
        9: -9px,
        10: -10px,
        11: -11px,
        12: -12px,
        13: -13px,
        14: -14px,
        15: -15px,
        16: -16px,
        17: -17px,
        18: -18px,
        19: -19px,
        20: -20px,
        21: -21px,
        22: -22px,
        23: -23px,
        24: -24px,
        25: -25px,
        26: -26px,
        27: -27px,
        28: -28px,
        29: -29px,
        30: -30px,
        31: -31px,
        32: -32px,
        33: -33px,
        34: -34px,
        35: -35px,
        36: -36px,
        37: -37px,
        38: -38px,
        39: -39px,
        40: -40px,
        41: -41px,
        42: -42px,
        43: -43px,
        44: -44px,
        45: -45px,
        46: -46px,
        47: -47px,
        48: -48px,
        49: -49px,
        50: -50px,
        51: -51px,
        52: -52px,
        53: -53px,
        54: -54px,
        55: -55px,
        56: -56px,
        57: -57px,
        58: -58px,
        59: -59px,
        60: -60px,
        61: -61px,
        62: -62px,
        63: -63px,
        64: -64px,
        65: -65px,
        66: -66px,
        67: -67px,
        68: -68px,
        69: -69px,
        70: -70px,
        71: -71px,
        72: -72px,
        73: -73px,
        74: -74px,
        75: -75px,
        76: -76px,
        77: -77px,
        78: -78px,
        79: -79px,
        80: -80px,
        81: -81px,
        82: -82px,
        83: -83px,
        84: -84px,
        85: -85px,
        86: -86px,
        87: -87px,
        88: -88px,
        89: -89px,
        90: -90px,
        91: -91px,
        92: -92px,
        93: -93px,
        94: -94px,
        95: -95px,
        96: -96px,
        97: -97px,
        98: -98px,
        99: -99px,
        100: -100px,
        101: -101px,
        102: -102px,
        103: -103px,
        104: -104px,
        105: -105px,
        106: -106px,
        107: -107px,
        108: -108px,
        109: -109px,
        110: -110px,
        111: -111px,
        112: -112px,
        113: -113px,
        114: -114px,
        115: -115px,
        116: -116px,
        117: -117px,
        118: -118px,
        119: -119px,
        120: -120px,
        121: -121px,
        122: -122px,
        123: -123px,
        124: -124px,
        125: -125px,
        126: -126px,
        127: -127px,
        128: -128px,
        129: -129px,
        130: -130px,
        131: -131px,
        132: -132px,
        133: -133px,
        134: -134px,
        135: -135px,
        136: -136px,
        137: -137px,
        138: -138px,
        139: -139px,
        140: -140px,
        141: -141px,
        142: -142px,
        143: -143px,
        144: -144px,
        145: -145px,
        146: -146px,
        147: -147px,
        148: -148px,
        149: -149px,
        150: -150px,
        151: -151px,
      )),
    "margin-px-n-bottom": (property: margin-bottom,
      class: mb-px-n,
      responsive: true,
      values: (0: 0,
        1: -1px,
        2: -2px,
        3: -3px,
        4: -4px,
        5: -5px,
        6: -6px,
        7: -7px,
        8: -8px,
        9: -9px,
        10: -10px,
        11: -11px,
        12: -12px,
        13: -13px,
        14: -14px,
        15: -15px,
        16: -16px,
        17: -17px,
        18: -18px,
        19: -19px,
        20: -20px,
        21: -21px,
        22: -22px,
        23: -23px,
        24: -24px,
        25: -25px,
        26: -26px,
        27: -27px,
        28: -28px,
        29: -29px,
        30: -30px,
        31: -31px,
        32: -32px,
        33: -33px,
        34: -34px,
        35: -35px,
        36: -36px,
        37: -37px,
        38: -38px,
        39: -39px,
        40: -40px,
        41: -41px,
        42: -42px,
        43: -43px,
        44: -44px,
        45: -45px,
        46: -46px,
        47: -47px,
        48: -48px,
        49: -49px,
        50: -50px,
        51: -51px,
        52: -52px,
        53: -53px,
        54: -54px,
        55: -55px,
        56: -56px,
        57: -57px,
        58: -58px,
        59: -59px,
        60: -60px,
        61: -61px,
        62: -62px,
        63: -63px,
        64: -64px,
        65: -65px,
        66: -66px,
        67: -67px,
        68: -68px,
        69: -69px,
        70: -70px,
        71: -71px,
        72: -72px,
        73: -73px,
        74: -74px,
        75: -75px,
        76: -76px,
        77: -77px,
        78: -78px,
        79: -79px,
        80: -80px,
        81: -81px,
        82: -82px,
        83: -83px,
        84: -84px,
        85: -85px,
        86: -86px,
        87: -87px,
        88: -88px,
        89: -89px,
        90: -90px,
        91: -91px,
        92: -92px,
        93: -93px,
        94: -94px,
        95: -95px,
        96: -96px,
        97: -97px,
        98: -98px,
        99: -99px,
        100: -100px,
        101: -101px,
        102: -102px,
        103: -103px,
        104: -104px,
        105: -105px,
        106: -106px,
        107: -107px,
        108: -108px,
        109: -109px,
        110: -110px,
        111: -111px,
        112: -112px,
        113: -113px,
        114: -114px,
        115: -115px,
        116: -116px,
        117: -117px,
        118: -118px,
        119: -119px,
        120: -120px,
        121: -121px,
        122: -122px,
        123: -123px,
        124: -124px,
        125: -125px,
        126: -126px,
        127: -127px,
        128: -128px,
        129: -129px,
        130: -130px,
        131: -131px,
        132: -132px,
        133: -133px,
        134: -134px,
        135: -135px,
        136: -136px,
        137: -137px,
        138: -138px,
        139: -139px,
        140: -140px,
        141: -141px,
        142: -142px,
        143: -143px,
        144: -144px,
        145: -145px,
        146: -146px,
        147: -147px,
        148: -148px,
        149: -149px,
        150: -150px,
        151: -151px,
      )),
    "margin-px-n-left": (property: margin-left,
      class: ms-px-n,
      responsive: true,
      values: (0: 0,
        1: -1px,
        2: -2px,
        3: -3px,
        4: -4px,
        5: -5px,
        6: -6px,
        7: -7px,
        8: -8px,
        9: -9px,
        10: -10px,
        11: -11px,
        12: -12px,
        13: -13px,
        14: -14px,
        15: -15px,
        16: -16px,
        17: -17px,
        18: -18px,
        19: -19px,
        20: -20px,
        21: -21px,
        22: -22px,
        23: -23px,
        24: -24px,
        25: -25px,
        26: -26px,
        27: -27px,
        28: -28px,
        29: -29px,
        30: -30px,
        31: -31px,
        32: -32px,
        33: -33px,
        34: -34px,
        35: -35px,
        36: -36px,
        37: -37px,
        38: -38px,
        39: -39px,
        40: -40px,
        41: -41px,
        42: -42px,
        43: -43px,
        44: -44px,
        45: -45px,
        46: -46px,
        47: -47px,
        48: -48px,
        49: -49px,
        50: -50px,
        51: -51px,
        52: -52px,
        53: -53px,
        54: -54px,
        55: -55px,
        56: -56px,
        57: -57px,
        58: -58px,
        59: -59px,
        60: -60px,
        61: -61px,
        62: -62px,
        63: -63px,
        64: -64px,
        65: -65px,
        66: -66px,
        67: -67px,
        68: -68px,
        69: -69px,
        70: -70px,
        71: -71px,
        72: -72px,
        73: -73px,
        74: -74px,
        75: -75px,
        76: -76px,
        77: -77px,
        78: -78px,
        79: -79px,
        80: -80px,
        81: -81px,
        82: -82px,
        83: -83px,
        84: -84px,
        85: -85px,
        86: -86px,
        87: -87px,
        88: -88px,
        89: -89px,
        90: -90px,
        91: -91px,
        92: -92px,
        93: -93px,
        94: -94px,
        95: -95px,
        96: -96px,
        97: -97px,
        98: -98px,
        99: -99px,
        100: -100px,
        101: -101px,
        102: -102px,
        103: -103px,
        104: -104px,
        105: -105px,
        106: -106px,
        107: -107px,
        108: -108px,
        109: -109px,
        110: -110px,
        111: -111px,
        112: -112px,
        113: -113px,
        114: -114px,
        115: -115px,
        116: -116px,
        117: -117px,
        118: -118px,
        119: -119px,
        120: -120px,
        121: -121px,
        122: -122px,
        123: -123px,
        124: -124px,
        125: -125px,
        126: -126px,
        127: -127px,
        128: -128px,
        129: -129px,
        130: -130px,
        131: -131px,
        132: -132px,
        133: -133px,
        134: -134px,
        135: -135px,
        136: -136px,
        137: -137px,
        138: -138px,
        139: -139px,
        140: -140px,
        141: -141px,
        142: -142px,
        143: -143px,
        144: -144px,
        145: -145px,
        146: -146px,
        147: -147px,
        148: -148px,
        149: -149px,
        150: -150px,
        151: -151px,
      )),
    "margin-px-n-right": (property: margin-right,
      class: me-px-n,
      responsive: true,
      values: (0: 0,
        1: -1px,
        2: -2px,
        3: -3px,
        4: -4px,
        5: -5px,
        6: -6px,
        7: -7px,
        8: -8px,
        9: -9px,
        10: -10px,
        11: -11px,
        12: -12px,
        -13: -13px,
        14: -14px,
        15: -15px,
        16: -16px,
        17: -17px,
        18: -18px,
        19: -19px,
        20: -20px,
        21: -21px,
        22: -22px,
        23: -23px,
        24: -24px,
        25: -25px,
        26: -26px,
        27: -27px,
        28: -28px,
        29: -29px,
        30: -30px,
        31: -31px,
        32: -32px,
        33: -33px,
        34: -34px,
        35: -35px,
        36: -36px,
        37: -37px,
        38: -38px,
        39: -39px,
        40: -40px,
        41: -41px,
        42: -42px,
        43: -43px,
        44: -44px,
        45: -45px,
        46: -46px,
        47: -47px,
        48: -48px,
        49: -49px,
        50: -50px,
        51: -51px,
        52: -52px,
        53: -53px,
        54: -54px,
        55: -55px,
        56: -56px,
        57: -57px,
        58: -58px,
        59: -59px,
        60: -60px,
        61: -61px,
        62: -62px,
        63: -63px,
        64: -64px,
        65: -65px,
        66: -66px,
        67: -67px,
        68: -68px,
        69: -69px,
        70: -70px,
        71: -71px,
        72: -72px,
        73: -73px,
        74: -74px,
        75: -75px,
        76: -76px,
        77: -77px,
        78: -78px,
        79: -79px,
        80: -80px,
        81: -81px,
        82: -82px,
        83: -83px,
        84: -84px,
        85: -85px,
        86: -86px,
        87: -87px,
        88: -88px,
        89: -89px,
        90: -90px,
        91: -91px,
        92: -92px,
        93: -93px,
        94: -94px,
        95: -95px,
        96: -96px,
        97: -97px,
        98: -98px,
        99: -99px,
        100: -100px,
        101: -101px,
        102: -102px,
        103: -103px,
        104: -104px,
        105: -105px,
        106: -106px,
        107: -107px,
        108: -108px,
        109: -109px,
        110: -110px,
        111: -111px,
        112: -112px,
        113: -113px,
        114: -114px,
        115: -115px,
        116: -116px,
        117: -117px,
        118: -118px,
        119: -119px,
        120: -120px,
        121: -121px,
        122: -122px,
        123: -123px,
        124: -124px,
        125: -125px,
        126: -126px,
        127: -127px,
        128: -128px,
        129: -129px,
        130: -130px,
        131: -131px,
        132: -132px,
        133: -133px,
        134: -134px,
        135: -135px,
        136: -136px,
        137: -137px,
        138: -138px,
        139: -139px,
        140: -140px,
        141: -141px,
        142: -142px,
        143: -143px,
        144: -144px,
        145: -145px,
        146: -146px,
        147: -147px,
        148: -148px,
        149: -149px,
        150: -150px,
        151: -151px,
      )),
    "top-px": (property: top,
      class: top-px,
      responsive: true,
      values: (0: 0,
        1: 1%,
        2: 2%,
        3: 3%,
        4: 4%,
        5: 5%,
        6: 6%,
        7: 7%,
        8: 8%,
        9: 9%,
        10: 10%,
        11: 11%,
        12: 12%,
        13: 13%,
        14: 14%,
        15: 15%,
        16: 16%,
        17: 17%,
        18: 18%,
        19: 19%,
        20: 20%,
        21: 21%,
        22: 22%,
        23: 23%,
        24: 24%,
        25: 25%,
        26: 26%,
        27: 27%,
        28: 28%,
        29: 29%,
        30: 30%,
        31: 31%,
        32: 32%,
        33: 33%,
        34: 34%,
        35: 35%,
        36: 36%,
        37: 37%,
        38: 38%,
        39: 39%,
        40: 40%,
        41: 41%,
        42: 42%,
        43: 43%,
        44: 44%,
        45: 45%,
        46: 46%,
        47: 47%,
        48: 48%,
        49: 49%,
        50: 50%,
        51: 51%,
        52: 52%,
        53: 53%,
        54: 54%,
        55: 55%,
        56: 56%,
        57: 57%,
        58: 58%,
        59: 59%,
        60: 60%,
        61: 61%,
        62: 62%,
        63: 63%,
        64: 64%,
        65: 65%,
        66: 66%,
        67: 67%,
        68: 68%,
        69: 69%,
        70: 70%,
        71: 71%,
        72: 72%,
        73: 73%,
        74: 74%,
        75: 75%,
        76: 76%,
        77: 77%,
        78: 78%,
        79: 79%,
        80: 80%,
        81: 81%,
        82: 82%,
        83: 83%,
        84: 84%,
        85: 85%,
        86: 86%,
        87: 87%,
        88: 88%,
        89: 89%,
        90: 90%,
        91: 91%,
        92: 92%,
        93: 93%,
        94: 94%,
        95: 95%,
        96: 96%,
        97: 97%,
        98: 98%,
        99: 99%,
        100: 100%,
        101: 101%,
        102: 102%,
        103: 103%,
        104: 104%,
        105: 105%,
        106: 106%,
        107: 107%,
        108: 108%,
        109: 109%,
        110: 110%,
        111: 111%,
        112: 112%,
        113: 113%,
        114: 114%,
        115: 115%,
        116: 116%,
        117: 117%,
        118: 118%,
        119: 119%,
        120: 120%,
        121: 121%,
        122: 122%,
        123: 123%,
        124: 124%,
        125: 125%,
        126: 126%,
        127: 127%,
        128: 128%,
        129: 129%,
        130: 130%,
        131: 131%,
        132: 132%,
        133: 133%,
        134: 134%,
        135: 135%,
        136: 136%,
        137: 137%,
        138: 138%,
        139: 139%,
        140: 140%,
        141: 141%,
        142: 142%,
        143: 143%,
        144: 144%,
        145: 145%,
        146: 146%,
        147: 147%,
        148: 148%,
        149: 149%,
        150: 150%,
        151: 151%,
      )),
    "bottom-px": (property: bottom,
      class: bottom-px,
      responsive: true,
      values: (0: 0,
        1: 1%,
        2: 2%,
        3: 3%,
        4: 4%,
        5: 5%,
        6: 6%,
        7: 7%,
        8: 8%,
        9: 9%,
        10: 10%,
        11: 11%,
        12: 12%,
        13: 13%,
        14: 14%,
        15: 15%,
        16: 16%,
        17: 17%,
        18: 18%,
        19: 19%,
        20: 20%,
        21: 21%,
        22: 22%,
        23: 23%,
        24: 24%,
        25: 25%,
        26: 26%,
        27: 27%,
        28: 28%,
        29: 29%,
        30: 30%,
        31: 31%,
        32: 32%,
        33: 33%,
        34: 34%,
        35: 35%,
        36: 36%,
        37: 37%,
        38: 38%,
        39: 39%,
        40: 40%,
        41: 41%,
        42: 42%,
        43: 43%,
        44: 44%,
        45: 45%,
        46: 46%,
        47: 47%,
        48: 48%,
        49: 49%,
        50: 50%,
        51: 51%,
        52: 52%,
        53: 53%,
        54: 54%,
        55: 55%,
        56: 56%,
        57: 57%,
        58: 58%,
        59: 59%,
        60: 60%,
        61: 61%,
        62: 62%,
        63: 63%,
        64: 64%,
        65: 65%,
        66: 66%,
        67: 67%,
        68: 68%,
        69: 69%,
        70: 70%,
        71: 71%,
        72: 72%,
        73: 73%,
        74: 74%,
        75: 75%,
        76: 76%,
        77: 77%,
        78: 78%,
        79: 79%,
        80: 80%,
        81: 81%,
        82: 82%,
        83: 83%,
        84: 84%,
        85: 85%,
        86: 86%,
        87: 87%,
        88: 88%,
        89: 89%,
        90: 90%,
        91: 91%,
        92: 92%,
        93: 93%,
        94: 94%,
        95: 95%,
        96: 96%,
        97: 97%,
        98: 98%,
        99: 99%,
        100: 100%,
        101: 101%,
        102: 102%,
        103: 103%,
        104: 104%,
        105: 105%,
        106: 106%,
        107: 107%,
        108: 108%,
        109: 109%,
        110: 110%,
        111: 111%,
        112: 112%,
        113: 113%,
        114: 114%,
        115: 115%,
        116: 116%,
        117: 117%,
        118: 118%,
        119: 119%,
        120: 120%,
        121: 121%,
        122: 122%,
        123: 123%,
        124: 124%,
        125: 125%,
        126: 126%,
        127: 127%,
        128: 128%,
        129: 129%,
        130: 130%,
        131: 131%,
        132: 132%,
        133: 133%,
        134: 134%,
        135: 135%,
        136: 136%,
        137: 137%,
        138: 138%,
        139: 139%,
        140: 140%,
        141: 141%,
        142: 142%,
        143: 143%,
        144: 144%,
        145: 145%,
        146: 146%,
        147: 147%,
        148: 148%,
        149: 149%,
        150: 150%,
        151: 151%,
      )),
    "start-px": (property: start,
      class: start-px,
      responsive: true,
      values: (0: 0,
        1: 1%,
        2: 2%,
        3: 3%,
        4: 4%,
        5: 5%,
        6: 6%,
        7: 7%,
        8: 8%,
        9: 9%,
        10: 10%,
        11: 11%,
        12: 12%,
        13: 13%,
        14: 14%,
        15: 15%,
        16: 16%,
        17: 17%,
        18: 18%,
        19: 19%,
        20: 20%,
        21: 21%,
        22: 22%,
        23: 23%,
        24: 24%,
        25: 25%,
        26: 26%,
        27: 27%,
        28: 28%,
        29: 29%,
        30: 30%,
        31: 31%,
        32: 32%,
        33: 33%,
        34: 34%,
        35: 35%,
        36: 36%,
        37: 37%,
        38: 38%,
        39: 39%,
        40: 40%,
        41: 41%,
        42: 42%,
        43: 43%,
        44: 44%,
        45: 45%,
        46: 46%,
        47: 47%,
        48: 48%,
        49: 49%,
        50: 50%,
        51: 51%,
        52: 52%,
        53: 53%,
        54: 54%,
        55: 55%,
        56: 56%,
        57: 57%,
        58: 58%,
        59: 59%,
        60: 60%,
        61: 61%,
        62: 62%,
        63: 63%,
        64: 64%,
        65: 65%,
        66: 66%,
        67: 67%,
        68: 68%,
        69: 69%,
        70: 70%,
        71: 71%,
        72: 72%,
        73: 73%,
        74: 74%,
        75: 75%,
        76: 76%,
        77: 77%,
        78: 78%,
        79: 79%,
        80: 80%,
        81: 81%,
        82: 82%,
        83: 83%,
        84: 84%,
        85: 85%,
        86: 86%,
        87: 87%,
        88: 88%,
        89: 89%,
        90: 90%,
        91: 91%,
        92: 92%,
        93: 93%,
        94: 94%,
        95: 95%,
        96: 96%,
        97: 97%,
        98: 98%,
        99: 99%,
        100: 100%,
        101: 101%,
        102: 102%,
        103: 103%,
        104: 104%,
        105: 105%,
        106: 106%,
        107: 107%,
        108: 108%,
        109: 109%,
        110: 110%,
        111: 111%,
        112: 112%,
        113: 113%,
        114: 114%,
        115: 115%,
        116: 116%,
        117: 117%,
        118: 118%,
        119: 119%,
        120: 120%,
        121: 121%,
        122: 122%,
        123: 123%,
        124: 124%,
        125: 125%,
        126: 126%,
        127: 127%,
        128: 128%,
        129: 129%,
        130: 130%,
        131: 131%,
        132: 132%,
        133: 133%,
        134: 134%,
        135: 135%,
        136: 136%,
        137: 137%,
        138: 138%,
        139: 139%,
        140: 140%,
        141: 141%,
        142: 142%,
        143: 143%,
        144: 144%,
        145: 145%,
        146: 146%,
        147: 147%,
        148: 148%,
        149: 149%,
        150: 150%,
        151: 151%,
      )),
    "end-px": (property: end,
      class: end-px,
      responsive: true,
      values: (0: 0,
        1: 1%,
        2: 2%,
        3: 3%,
        4: 4%,
        5: 5%,
        6: 6%,
        7: 7%,
        8: 8%,
        9: 9%,
        10: 10%,
        11: 11%,
        12: 12%,
        13: 13%,
        14: 14%,
        15: 15%,
        16: 16%,
        17: 17%,
        18: 18%,
        19: 19%,
        20: 20%,
        21: 21%,
        22: 22%,
        23: 23%,
        24: 24%,
        25: 25%,
        26: 26%,
        27: 27%,
        28: 28%,
        29: 29%,
        30: 30%,
        31: 31%,
        32: 32%,
        33: 33%,
        34: 34%,
        35: 35%,
        36: 36%,
        37: 37%,
        38: 38%,
        39: 39%,
        40: 40%,
        41: 41%,
        42: 42%,
        43: 43%,
        44: 44%,
        45: 45%,
        46: 46%,
        47: 47%,
        48: 48%,
        49: 49%,
        50: 50%,
        51: 51%,
        52: 52%,
        53: 53%,
        54: 54%,
        55: 55%,
        56: 56%,
        57: 57%,
        58: 58%,
        59: 59%,
        60: 60%,
        61: 61%,
        62: 62%,
        63: 63%,
        64: 64%,
        65: 65%,
        66: 66%,
        67: 67%,
        68: 68%,
        69: 69%,
        70: 70%,
        71: 71%,
        72: 72%,
        73: 73%,
        74: 74%,
        75: 75%,
        76: 76%,
        77: 77%,
        78: 78%,
        79: 79%,
        80: 80%,
        81: 81%,
        82: 82%,
        83: 83%,
        84: 84%,
        85: 85%,
        86: 86%,
        87: 87%,
        88: 88%,
        89: 89%,
        90: 90%,
        91: 91%,
        92: 92%,
        93: 93%,
        94: 94%,
        95: 95%,
        96: 96%,
        97: 97%,
        98: 98%,
        99: 99%,
        100: 100%,
        101: 101%,
        102: 102%,
        103: 103%,
        104: 104%,
        105: 105%,
        106: 106%,
        107: 107%,
        108: 108%,
        109: 109%,
        110: 110%,
        111: 111%,
        112: 112%,
        113: 113%,
        114: 114%,
        115: 115%,
        116: 116%,
        117: 117%,
        118: 118%,
        119: 119%,
        120: 120%,
        121: 121%,
        122: 122%,
        123: 123%,
        124: 124%,
        125: 125%,
        126: 126%,
        127: 127%,
        128: 128%,
        129: 129%,
        130: 130%,
        131: 131%,
        132: 132%,
        133: 133%,
        134: 134%,
        135: 135%,
        136: 136%,
        137: 137%,
        138: 138%,
        139: 139%,
        140: 140%,
        141: 141%,
        142: 142%,
        143: 143%,
        144: 144%,
        145: 145%,
        146: 146%,
        147: 147%,
        148: 148%,
        149: 149%,
        150: 150%,
        151: 151%,
      )),
    "top-px-n": (property: top,
      class: top-px-n,
      responsive: true,
      values: (0: 0,
        1: -1%,
        2: -2%,
        3: -3%,
        4: -4%,
        5: -5%,
        6: -6%,
        7: -7%,
        8: -8%,
        9: -9%,
        10: -10%,
        11: -11%,
        12: -12%,
        13: -13%,
        14: -14%,
        15: -15%,
        16: -16%,
        17: -17%,
        18: -18%,
        19: -19%,
        20: -20%,
        21: -21%,
        22: -22%,
        23: -23%,
        24: -24%,
        25: -25%,
        26: -26%,
        27: -27%,
        28: -28%,
        29: -29%,
        30: -30%,
        31: -31%,
        32: -32%,
        33: -33%,
        34: -34%,
        35: -35%,
        36: -36%,
        37: -37%,
        38: -38%,
        39: -39%,
        40: -40%,
        41: -41%,
        42: -42%,
        43: -43%,
        44: -44%,
        45: -45%,
        46: -46%,
        47: -47%,
        48: -48%,
        49: -49%,
        50: -50%,
        51: -51%,
        52: -52%,
        53: -53%,
        54: -54%,
        55: -55%,
        56: -56%,
        57: -57%,
        58: -58%,
        59: -59%,
        60: -60%,
        61: -61%,
        62: -62%,
        63: -63%,
        64: -64%,
        65: -65%,
        66: -66%,
        67: -67%,
        68: -68%,
        69: -69%,
        70: -70%,
        71: -71%,
        72: -72%,
        73: -73%,
        74: -74%,
        75: -75%,
        76: -76%,
        77: -77%,
        78: -78%,
        79: -79%,
        80: -80%,
        81: -81%,
        82: -82%,
        83: -83%,
        84: -84%,
        85: -85%,
        86: -86%,
        87: -87%,
        88: -88%,
        89: -89%,
        90: -90%,
        91: -91%,
        92: -92%,
        93: -93%,
        94: -94%,
        95: -95%,
        96: -96%,
        97: -97%,
        98: -98%,
        99: -99%,
        100: -100%,
        101: -101%,
        102: -102%,
        103: -103%,
        104: -104%,
        105: -105%,
        106: -106%,
        107: -107%,
        108: -108%,
        109: -109%,
        110: -110%,
        111: -111%,
        112: -112%,
        113: -113%,
        114: -114%,
        115: -115%,
        116: -116%,
        117: -117%,
        118: -118%,
        119: -119%,
        120: -120%,
        121: -121%,
        122: -122%,
        123: -123%,
        124: -124%,
        125: -125%,
        126: -126%,
        127: -127%,
        128: -128%,
        129: -129%,
        130: -130%,
        131: -131%,
        132: -132%,
        133: -133%,
        134: -134%,
        135: -135%,
        136: -136%,
        137: -137%,
        138: -138%,
        139: -139%,
        140: -140%,
        141: -141%,
        142: -142%,
        143: -143%,
        144: -144%,
        145: -145%,
        146: -146%,
        147: -147%,
        148: -148%,
        149: -149%,
        150: -150%,
        151: -151%,
      )),
    "bottom-px-n": (property: bottom,
      class: bottom-px-n,
      responsive: true,
      values: (0: 0,
        1: -1%,
        2: -2%,
        3: -3%,
        4: -4%,
        5: -5%,
        6: -6%,
        7: -7%,
        8: -8%,
        9: -9%,
        10: -10%,
        11: -11%,
        12: -12%,
        13: -13%,
        14: -14%,
        15: -15%,
        16: -16%,
        17: -17%,
        18: -18%,
        19: -19%,
        20: -20%,
        21: -21%,
        22: -22%,
        23: -23%,
        24: -24%,
        25: -25%,
        26: -26%,
        27: -27%,
        28: -28%,
        29: -29%,
        30: -30%,
        31: -31%,
        32: -32%,
        33: -33%,
        34: -34%,
        35: -35%,
        36: -36%,
        37: -37%,
        38: -38%,
        39: -39%,
        40: -40%,
        41: -41%,
        42: -42%,
        43: -43%,
        44: -44%,
        45: -45%,
        46: -46%,
        47: -47%,
        48: -48%,
        49: -49%,
        50: -50%,
        51: -51%,
        52: -52%,
        53: -53%,
        54: -54%,
        55: -55%,
        56: -56%,
        57: -57%,
        58: -58%,
        59: -59%,
        60: -60%,
        61: -61%,
        62: -62%,
        63: -63%,
        64: -64%,
        65: -65%,
        66: -66%,
        67: -67%,
        68: -68%,
        69: -69%,
        70: -70%,
        71: -71%,
        72: -72%,
        73: -73%,
        74: -74%,
        75: -75%,
        76: -76%,
        77: -77%,
        78: -78%,
        79: -79%,
        80: -80%,
        81: -81%,
        82: -82%,
        83: -83%,
        84: -84%,
        85: -85%,
        86: -86%,
        87: -87%,
        88: -88%,
        89: -89%,
        90: -90%,
        91: -91%,
        92: -92%,
        93: -93%,
        94: -94%,
        95: -95%,
        96: -96%,
        97: -97%,
        98: -98%,
        99: -99%,
        100: -100%,
        101: -101%,
        102: -102%,
        103: -103%,
        104: -104%,
        105: -105%,
        106: -106%,
        107: -107%,
        108: -108%,
        109: -109%,
        110: -110%,
        111: -111%,
        112: -112%,
        113: -113%,
        114: -114%,
        115: -115%,
        116: -116%,
        117: -117%,
        118: -118%,
        119: -119%,
        120: -120%,
        121: -121%,
        122: -122%,
        123: -123%,
        124: -124%,
        125: -125%,
        126: -126%,
        127: -127%,
        128: -128%,
        129: -129%,
        130: -130%,
        131: -131%,
        132: -132%,
        133: -133%,
        134: -134%,
        135: -135%,
        136: -136%,
        137: -137%,
        138: -138%,
        139: -139%,
        140: -140%,
        141: -141%,
        142: -142%,
        143: -143%,
        144: -144%,
        145: -145%,
        146: -146%,
        147: -147%,
        148: -148%,
        149: -149%,
        150: -150%,
        151: -151%,
      )),
    "start-px-n": (property: left,
      class: start-px-n,
      responsive: true,
      values: (0: 0,
        1: -1%,
        2: -2%,
        3: -3%,
        4: -4%,
        5: -5%,
        6: -6%,
        7: -7%,
        8: -8%,
        9: -9%,
        10: -10%,
        11: -11%,
        12: -12%,
        13: -13%,
        14: -14%,
        15: -15%,
        16: -16%,
        17: -17%,
        18: -18%,
        19: -19%,
        20: -20%,
        21: -21%,
        22: -22%,
        23: -23%,
        24: -24%,
        25: -25%,
        26: -26%,
        27: -27%,
        28: -28%,
        29: -29%,
        30: -30%,
        31: -31%,
        32: -32%,
        33: -33%,
        34: -34%,
        35: -35%,
        36: -36%,
        37: -37%,
        38: -38%,
        39: -39%,
        40: -40%,
        41: -41%,
        42: -42%,
        43: -43%,
        44: -44%,
        45: -45%,
        46: -46%,
        47: -47%,
        48: -48%,
        49: -49%,
        50: -50%,
        51: -51%,
        52: -52%,
        53: -53%,
        54: -54%,
        55: -55%,
        56: -56%,
        57: -57%,
        58: -58%,
        59: -59%,
        60: -60%,
        61: -61%,
        62: -62%,
        63: -63%,
        64: -64%,
        65: -65%,
        66: -66%,
        67: -67%,
        68: -68%,
        69: -69%,
        70: -70%,
        71: -71%,
        72: -72%,
        73: -73%,
        74: -74%,
        75: -75%,
        76: -76%,
        77: -77%,
        78: -78%,
        79: -79%,
        80: -80%,
        81: -81%,
        82: -82%,
        83: -83%,
        84: -84%,
        85: -85%,
        86: -86%,
        87: -87%,
        88: -88%,
        89: -89%,
        90: -90%,
        91: -91%,
        92: -92%,
        93: -93%,
        94: -94%,
        95: -95%,
        96: -96%,
        97: -97%,
        98: -98%,
        99: -99%,
        100: -100%,
        101: -101%,
        102: -102%,
        103: -103%,
        104: -104%,
        105: -105%,
        106: -106%,
        107: -107%,
        108: -108%,
        109: -109%,
        110: -110%,
        111: -111%,
        112: -112%,
        113: -113%,
        114: -114%,
        115: -115%,
        116: -116%,
        117: -117%,
        118: -118%,
        119: -119%,
        120: -120%,
        121: -121%,
        122: -122%,
        123: -123%,
        124: -124%,
        125: -125%,
        126: -126%,
        127: -127%,
        128: -128%,
        129: -129%,
        130: -130%,
        131: -131%,
        132: -132%,
        133: -133%,
        134: -134%,
        135: -135%,
        136: -136%,
        137: -137%,
        138: -138%,
        139: -139%,
        140: -140%,
        141: -141%,
        142: -142%,
        143: -143%,
        144: -144%,
        145: -145%,
        146: -146%,
        147: -147%,
        148: -148%,
        149: -149%,
        150: -150%,
        151: -151%,
      )),
    "end-px-n": (property: right,
      class: end-px-n,
      responsive: true,
      values: (0: 0,
        1: -1%,
        2: -2%,
        3: -3%,
        4: -4%,
        5: -5%,
        6: -6%,
        7: -7%,
        8: -8%,
        9: -9%,
        10: -10%,
        11: -11%,
        12: -12%,
        13: -13%,
        14: -14%,
        15: -15%,
        16: -16%,
        17: -17%,
        18: -18%,
        19: -19%,
        20: -20%,
        21: -21%,
        22: -22%,
        23: -23%,
        24: -24%,
        25: -25%,
        26: -26%,
        27: -27%,
        28: -28%,
        29: -29%,
        30: -30%,
        31: -31%,
        32: -32%,
        33: -33%,
        34: -34%,
        35: -35%,
        36: -36%,
        37: -37%,
        38: -38%,
        39: -39%,
        40: -40%,
        41: -41%,
        42: -42%,
        43: -43%,
        44: -44%,
        45: -45%,
        46: -46%,
        47: -47%,
        48: -48%,
        49: -49%,
        50: -50%,
        51: -51%,
        52: -52%,
        53: -53%,
        54: -54%,
        55: -55%,
        56: -56%,
        57: -57%,
        58: -58%,
        59: -59%,
        60: -60%,
        61: -61%,
        62: -62%,
        63: -63%,
        64: -64%,
        65: -65%,
        66: -66%,
        67: -67%,
        68: -68%,
        69: -69%,
        70: -70%,
        71: -71%,
        72: -72%,
        73: -73%,
        74: -74%,
        75: -75%,
        76: -76%,
        77: -77%,
        78: -78%,
        79: -79%,
        80: -80%,
        81: -81%,
        82: -82%,
        83: -83%,
        84: -84%,
        85: -85%,
        86: -86%,
        87: -87%,
        88: -88%,
        89: -89%,
        90: -90%,
        91: -91%,
        92: -92%,
        93: -93%,
        94: -94%,
        95: -95%,
        96: -96%,
        97: -97%,
        98: -98%,
        99: -99%,
        100: -100%,
        101: -101%,
        102: -102%,
        103: -103%,
        104: -104%,
        105: -105%,
        106: -106%,
        107: -107%,
        108: -108%,
        109: -109%,
        110: -110%,
        111: -111%,
        112: -112%,
        113: -113%,
        114: -114%,
        115: -115%,
        116: -116%,
        117: -117%,
        118: -118%,
        119: -119%,
        120: -120%,
        121: -121%,
        122: -122%,
        123: -123%,
        124: -124%,
        125: -125%,
        126: -126%,
        127: -127%,
        128: -128%,
        129: -129%,
        130: -130%,
        131: -131%,
        132: -132%,
        133: -133%,
        134: -134%,
        135: -135%,
        136: -136%,
        137: -137%,
        138: -138%,
        139: -139%,
        140: -140%,
        141: -141%,
        142: -142%,
        143: -143%,
        144: -144%,
        145: -145%,
        146: -146%,
        147: -147%,
        148: -148%,
        149: -149%,
        150: -150%,
        151: -151%,
      )),
  ));