


.position{
    position: absolute;
    @include media-breakpoint-up(lg){
        margin-left: -350px;
        margin-top: 165px;
        }
    @include media-breakpoint-down(lg){
        margin-left: -375px;
        margin-top: 200px;
        }
        @include media-breakpoint-down(md){
            margin-left: -200px;
            margin-top: 100px;
            }
    fill: $white;
    color: $white;
    &:hover{
        fill: $white;
    color: $white;
    }
}